
.infinite-scroll-container{
    margin: auto;
    margin-top: 0em;
    height: 10em;
    width: 15em;
    overflow: auto;
} 

.infinite-scroll-container-one-result{
    margin: auto;
    margin-top: 0em;
    height: 3.5em;
    width: 15em;
    overflow: auto;
} 

.infinite-scroll-container-table{
    margin: auto;
    margin-top: 1em;
    height: 35em;
    width: 50em;
    overflow: auto;
} 

